
h1, h2, h3, h4, h5, h6 {

}
h1 {
    font-size: 40px
}
h2{
    font-size: 30px;
    line-height: 50px;
}
h3 {
    font-size: 24px;
    line-height: 40px;
}
h4, h5, h6 {
    font-size: 18px;
    line-height: 30px;
}
p {
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 1%;
}

i {

}

span {

}

hr {

}
caption {

}

a, a:link, a:visited {

}

a:hover {

}
